[Desktop Entry]
Version=1.0
Type=Application
Name=gpt
Comment=
Exec=/usr/bin/gpt
Icon=/home/batan/100/icons/gpt.128.png
Path=
Terminal=false
StartupNotify=false
