[Desktop Entry]
Name=Zen
Keywords=web;browser;internet
Exec=/home/batan/.tarball-installations/zen/zen %u
Icon=/home/batan/.tarball-installations/zen/browser/chrome/icons/default/default128.png
Terminal=false
StartupNotify=true
StartupWMClass=zen-beta
NoDisplay=false
Type=Application
MimeType=text/html;text/xml;application/xhtml+xml;application/vnd.mozilla.xul+xml;text/mml;x-scheme-handler/http;x-scheme-handler/https;
Categories=Network;WebBrowser;
Actions=new-window;new-private-window;profile-manager-window;
X-XFCE-Source=file:///home/batan/.local/share/applications/zen.desktop

[Desktop Action new-window]
Name=Open a New Window
Exec=/home/batan/.tarball-installations/zen/zen --new-window %u

[Desktop Action new-private-window]
Name=Open a New Private Window
Exec=/home/batan/.tarball-installations/zen/zen --private-window %u

[Desktop Action profile-manager-window]
Name=Open the Profile Manager
Exec=/home/batan/.tarball-installations/zen/zen --ProfileManager
