[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/batan/Desktop/featherpad.desktop]
row=2
col=0

[/home/batan/Desktop/io.github.ungoogled_software.ungoogled_chromium.desktop]
row=1
col=0

[/home/batan/Desktop/GPT4All.desktop]
row=0
col=0

